/* --- 1. Основные настройки и переменные --- */
:root {
    --bg-dark: #051429;
    --card-bg: #ffffff;
    --orange-primary: #e37e35;
    --text-main: #333333;
    --text-secondary: #666666;
    --border-color: #d1d1d1;
}

a {
  text-decoration: none;
  color: none;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background-color: var(--bg-dark);
    background-image:
        radial-gradient(circle at 50% 20%, rgba(20, 60, 100, 0.5) 0%, transparent 60%),
        repeating-linear-gradient(45deg, rgba(255,255,255,0.01) 0px, rgba(255,255,255,0.01) 1px, transparent 1px, transparent 40px);
    color: var(--text-main);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --- 2. Хедер --- */
header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    background: rgba(5, 20, 41, 0.8);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    z-index: 100;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.logo-img {
    height: 32px;
    width: auto;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: rgba(255,255,255,0.6);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding: 24px 0;
    position: relative;
    transition: color 0.3s;
}

nav a:hover { color: white; }
nav a.active { color: white; }

nav a.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--orange-primary);
    box-shadow: 0 -2px 10px rgba(227, 126, 53, 0.5);
}

.header-right {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 30px
}

.icon-btn {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: color 0.3s;
    display: flex;
    align-items: center;
}

.icon-btn:hover {
    color: white;
}


.section-header {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
}
